* {
  margin: 0;
}
body {
  background-color: #f5f6fa;
}
.app {
  display: flex; /*MAKES DIV IN A SINGLE ROW*/
  justify-content: space-evenly; /*DIVIDE THE 2 EVENLY ON A PAGE*/
  padding: 20px;
  background-color: #f5f6fa;
}
.app__header {
  display: flex; /*AUTOMATICALLY COME IN A SINGLE ROW*/
  justify-content: space-between; /*SPACE BETWEEN ALL*/
  align-items: center;
  margin-bottom: 20px;
}
.app__header > h1 {
  color: #fc3c3c;
  font-size: 2rem;
}
.app__stats {
  display: flex;
  justify-content: space-between;
}
.app__left {
  /*Let the app__left take 90% of the width (screen) coz more content*/
  flex: 0.9;
}
.app__dropdown {
  background-color: white;
}
.flag {
  height: 25px;
}
.countryOptions {
  display: flex;
  margin-right: 10px;
  flex: 1;
  justify-content: space-between;
  align-content: space-between;
}
.app__right {
  display: flex;
  flex-direction: column;
}
.app__right .MuiCardContent-root {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}
.app__table {
  flex: 0.3;
}
.app__graph {
  flex-grow: 1;
}
.app__graphTitle {
  margin-top: 20px;
  margin-bottom: 20px;
}

/*FOR THE TABLET&MOBILE VIEW TURN THE APP__LEFT&RIGHT FLEX INTO COLUMN*/
@media (max-width: 990px) {
  .app {
    flex-direction: column;
  }
}
